<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>{{'EMPLOYEE.EMPLOYEESLIST' | translate}}</h2>  
            <button mat-raised-button color="primary" (click)="openCustomerDialog(null)">{{'EMPLOYEE.ADDEMPLOYEE' | translate}}</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row">
                <div class="mat-header-cell">{{'EMPLOYEE.NUMBER' | translate}}</div>
                <div class="mat-header-cell">{{'EMPLOYEE.FULLNAME' | translate}}</div>
                <div class="mat-header-cell">{{'EMPLOYEE.EMAIL' | translate}}</div>
                <div class="mat-header-cell">{{'EMPLOYEE.POSITION' | translate}}</div>
                <div class="mat-header-cell">{{'EMPLOYEE.NUMBERORDERS' | translate}}</div>
                <div class="mat-header-cell">{{'EMPLOYEE.REVENUE' | translate}}</div>              
                <div class="mat-header-cell">{{'EMPLOYEE.OPTIONS' | translate}}</div>
            </div>
            <div *ngFor="let customer of customers | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell">{{customer.id}}</div>
                <div class="mat-cell">{{customer.firstName}} {{customer.lastName}}</div>
                <div class="mat-cell">{{customer.email}}</div>
                <div class="mat-cell">{{ customer.position}}</div> 
                <div class="mat-cell">{{customer.numOrders}}</div>
                <div class="mat-cell">{{customer.revenue}}</div>  
                <div class="mat-cell">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Editar" (click)="openCustomerDialog(customer)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Eliminar" class="mx-1" (click)="remove(customer)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="customers.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>