<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">{{ 'ACOUNTDETAILS' | translate }}</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
            <mat-form-field class="w-100 mt-2">
                <mat-label>{{ 'SINGUPNOW.FIRSTNAME' | translate }}</mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="infoForm.controls.firstName.errors?.required">El nombre es requerido</mat-error>
                <mat-error *ngIf="infoForm.controls.firstName.hasError('minlength')">El nombre no es lo suficientemente largo, mínimo de 3 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <mat-label>{{ 'SINGUPNOW.LASTNAME' | translate }}</mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="infoForm.controls.lastName.errors?.required">El apellido es requerido</mat-error>
                <mat-error *ngIf="infoForm.controls.lastName.hasError('minlength')">El apellido completo no es lo suficientemente largo, mínimo de 3 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <mat-label>{{ 'SINGUPNOW.EMAIL' | translate }}</mat-label>
                <input matInput placeholder="ejemplo@primates.com" formControlName="email" required>
                <mat-error *ngIf="infoForm.controls.email.errors?.required">Correo electrónico requerido</mat-error>
                <mat-error *ngIf="infoForm.controls.email.hasError('invalidEmail')">Correo electrónico invalido</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit(infoForm.value)">{{ 'BTN.SAVE' | translate }}</button>
            </div> 
        </form>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">{{ 'LOGIN.CHANGEPASSWORD' | translate }}</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">            
            <mat-form-field class="w-100 mt-2">
                <mat-label>{{ 'LOGIN.CURRENTPASSWORD' | translate }}</mat-label>
                <input matInput  formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Contraseña actual requerida</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">La contraseña actual no es lo suficientemente larga, mínimo de 6 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <mat-label>{{ 'LOGIN.NEWPASSWORD' | translate }}</mat-label>
                <input matInput formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">Nueva contraseña requerida</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">La nueva contraseña no es lo suficientemente larga, mínimo de 6 caracteres</mat-error>
            </mat-form-field> 
            <mat-form-field class="w-100 mt-1">
                <mat-label>{{ 'SINGUPNOW.PASSWORDCONFIRM' | translate }}</mat-label>
              <input matInput formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Confirmar la nueva contraseña es requerida</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Las contraseñas no coinciden</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onPasswordFormSubmit(passwordForm.value)">{{ 'BTN.CHANGE' | translate }}</button>
            </div>
        </form>
    </div>
</div> 
