<div class="p-1">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{(id) ? 'Edit' : 'ADMIN_NAV.ADD_PRODUCT' | translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" autocomplete="off" fxLayout="row wrap">
                <div fxFlex="40" class="px-2">
                    <p class="mt-1"><span class="uppercase fw-500">{{'ADMIN_NAV.GALLERY' | translate}}</span><span
                            class="text-muted px-1">{{'ADMIN_NAV.MAXIMAGEN' | translate}}</span></p>
                    <input-file formControlName="images" matTooltip="Agregar imagen" fileLimit="8" fileAccept="image/*">
                    </input-file>
                </div>
                <div fxFlex="60" class="px-2">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.NAME' | translate}}</mat-label>
                                <input matInput formControlName="name" required>
                                <mat-error *ngIf="form.controls.name.errors?.required">{{'REQUIRED' | translate}}
                                </mat-error>
                                <mat-error *ngIf="form.controls.name.hasError('minlength')">El nombre no es lo
                                    suficientemente largo, mínimo 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.BRAND' | translate}}</mat-label>
                                <input matInput formControlName="brand" required>
                                <mat-error *ngIf="form.controls.brand.errors?.required">{{'REQUIRED' | translate}}
                                </mat-error>
                                <mat-error *ngIf="form.controls.brand.hasError('minlength')">La marca no es lo
                                    suficientemente largo, mínimo 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.REFERENCE' | translate}}</mat-label>
                                <input readonly matInput formControlName="reference" >
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.CATEGORY' | translate}}</mat-label>
                                <mat-select formControlName="categoryId" required>
                                    <mat-option *ngFor="let cat of categories" [value]="cat">
                                        <span>{{cat.nombre_categoria}}</span>
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="form.controls.categoryId.errors?.required">{{'REQUIRED' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.NEWPRICE' | translate}}</mat-label>
                                <input matInput formControlName="newPrice" required>
                                <mat-error *ngIf="form.controls.newPrice.errors?.required">{{'REQUIRED' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.AVALBILITYCOUN' | translate}}</mat-label>
                                <input matInput formControlName="availibilityCount" type="number">
                                <mat-error *ngIf="form.controls.availibilityCount.errors?.required">{{'REQUIRED' |
                                    translate}}</mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" class="px-1">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'PRODUCT.DESCRIPTION' | translate}}</mat-label>
                                <textarea matInput formControlName="description" rows="10"></textarea>
                                <mat-error *ngIf="form.controls.description.errors?.required">{{'REQUIRED' | translate}}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" class="px-1">
                            <mat-checkbox formControlName="active" color="primary">{{'CATEGORIES.ACTIVE' | translate}}</mat-checkbox>                            
                        </div> 

                        <div fxFlex="100" class="mt-2 text-center w-100">
                            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" >{{'BTN.ADD' | translate}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>

    </mat-card>
</div>