<p class="text-muted">Hola, <b>Andres Torres!</b>
  Desde el Panel de control de Mi cuenta, puede ver una instantánea de la actividad reciente de su cuenta y actualizar la información de su cuenta. Seleccione un enlace a continuación para ver o editar la información</p>

<div fxLayout="row wrap" class="flex-wrapper">
    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="col">
        <mat-card class="p-0">
          <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0"><h3>{{ 'ACCOUNTINFO' | translate }}</h3></mat-card-title>
              <a mat-icon-button routerLink="/account/information"><mat-icon class="text-muted">edit</mat-icon></a>
          </mat-card-header>
          <div class="divider"></div>
          <mat-card-content class="p-2 text-muted account-card-content">
              <p>Andres Torres</p>
              <p>emilio.verdines@gmail.com</p>
              <p><a routerLink="/account/information" class="primary-text">{{ 'LOGIN.CHANGEPASSWORD' | translate }}</a></p>
          </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="33.3" fxFlex.sm="50" fxFlex.xs="100" class="col">
        <mat-card class="p-0">
          <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0"><h3>{{ 'ADDRESSES' | translate }}</h3></mat-card-title>
              <a mat-icon-button routerLink="/account/addresses"><mat-icon class="text-muted">edit</mat-icon></a>
          </mat-card-header>
          <div class="divider"></div>
          <mat-card-content class="p-2 text-muted account-card-content">
            <p>Dirección de envío</p>
            <p>Dirección de envío</p>
          </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="33.3" fxFlex.sm="100" fxFlex.xs="100" class="col">
        <mat-card class="p-0">
          <mat-card-header class="p-1 account-card-title" fxLayoutAlign="space-between center">
              <mat-card-title class="m-0"><h3>{{ 'ORDERS.ORDERS' | translate }}</h3></mat-card-title>
              <a mat-icon-button routerLink="/account/orders"><mat-icon class="text-muted">edit</mat-icon></a>
          </mat-card-header>
          <div class="divider"></div>
          <mat-card-content class="p-2 text-muted account-card-content">
            <p class="">Completada</p>
            <mat-progress-bar value="75" color="primary"></mat-progress-bar>
            <p class="mt-1">Procesando</p>
            <mat-progress-bar value="50" color="accent"></mat-progress-bar>
            <p class="mt-1">En espera</p>
            <mat-progress-bar value="25" color="warn"></mat-progress-bar>
            <p class="mt-1">Rechazada</p>
            <mat-progress-bar value="0" color="primary"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
    </div>
</div>