<h1 mat-dialog-title> {{'EMPLOYEE.EMPLOYEE' | translate}} </h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
    <div mat-dialog-content>
        <mat-tab-group class="tab-content-wrapped">
            <mat-tab label="Información Personal">
                <div fxLayout="row wrap" class="mt-2">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.FIRSTNAME' | translate}}</mat-label>
                            <input matInput formControlName="firstName" required>
                            <mat-error *ngIf="form.controls.firstName.errors?.required">{{'REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.SECONDNAME' | translate}}</mat-label>
                            <input matInput formControlName="secondName">
                            <mat-error *ngIf="form.controls.secondName.errors?.required">{{'REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.LASTNAME' | translate}}</mat-label>
                            <input matInput formControlName="lastName" required>
                            <mat-error *ngIf="form.controls.lastName.errors?.required">{{'REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.LASTNAME2' | translate}}</mat-label>
                            <input matInput formControlName="surName">
                            <mat-error *ngIf="form.controls.surName.errors?.required">{{'REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ 'SINGUPNOW.BORNDATE' | translate }}</mat-label>
                            <input matInput [matDatepicker]="birthday" placeholder="Ejemplo: 12/06/1996"
                                formControlName="birthday" required>
                            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
                            <mat-datepicker #birthday></mat-datepicker>
                            <mat-error *ngIf="form.controls.birthday.errors?.required">{{'REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ 'SINGUPNOW.GENDER' | translate }}</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="">-</mat-option>
                                <mat-option value="Masaculino">Masaculino</mat-option>
                                <mat-option value="Femenino">Femenino</mat-option>
                                <mat-option value="Otro">Otro</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.gender.errors?.required">{{'REQUIRED' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Información Adicional" formGroupName="billing">
                <div fxLayout="row wrap" class="mt-2">                    
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.EMAIL' | translate}}</mat-label>
                            <input matInput placeholder="Ejemplo: abcd@primayes.com" formControlName="email" required>
                            <mat-error *ngIf="form.get('billing')['controls'].email.errors?.required">{{'REQUIRED' |
                                translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.MOBILE' | translate}}</mat-label>
                            <input matInput placeholder="334773 - 312220XXXX" formControlName="phone" required>
                            <mat-error *ngIf="form.get('billing')['controls'].phone.errors?.required">{{'REQUIRED' |
                                translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.CITY' | translate}}</mat-label>
                            <mat-select placeholder="Ciudad" formControlName="city" required>
                                <mat-option>-</mat-option>
                                <mat-option *ngFor="let ciudad of ciudadesList" [value]="ciudad.id_ciudad">
                                    {{ciudad.nombre_ciudad}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('billing')['controls'].city.errors?.required">{{'REQUIRED' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.ADDRESS2' | translate}}</mat-label>
                            <input matInput placeholder="Dirección (calle, apartamento, suite, unidad, etc.)"
                                formControlName="address" required>
                            <mat-error *ngIf="form.get('billing')['controls'].address.errors?.required">{{'REQUIRED' |
                                translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.USERNAME' | translate}}</mat-label>
                            <input matInput placeholder="Nombre de usuario" formControlName="username" required>
                            <mat-error *ngIf="form.get('billing')['controls'].username.errors?.required">{{'REQUIRED' |
                                translate}}</mat-error>
                        </mat-form-field>                        
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.PASSWORD' | translate}}</mat-label>
                            <input [type]="passwordHide ? 'password' : 'text'" matInput formControlName="password" minlength="6" required>
                            <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="form.get('billing')['controls'].password.errors?.required">Contraseña requerida</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{'EMPLOYEE.PASSWORDCONFIRM' | translate}}</mat-label>
                            <input [type]="confirmPasswordHide ? 'password' : 'text'" matInput formControlName="confirmPassword">
                            <mat-icon matSuffix (click)="confirmPasswordHide = !confirmPasswordHide">{{confirmPasswordHide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="form.get('billing')['controls'].confirmPassword.errors?.required">Contraseña requerida</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button mat-raised-button color="warn" type="button" mat-dialog-close>{{'BTN.CLOSE' | translate}}</button>
            <button mat-raised-button color="primary" type="submit">{{'BTN.SAVE' | translate}}</button>
        </div>
    </div>
</form>