<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>{{'CATEGORIES.CATEGORYLIST' | translate}}</h2> 
            <button mat-raised-button color="primary" (click)="openCategoryDialog('create', null)">{{'CATEGORIES.ADDCATEGORY' | translate}}</button>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row" style="align-items: center;">
                <div class="mat-header-cell">N°</div>
                <div class="mat-header-cell" style="text-align: center;">{{'CATEGORIES.NAME' | translate}}</div>
                <div class="mat-header-cell" style="text-align: center;">Activo</div>
                <div class="mat-header-cell" style="text-align: center;">Opciones</div>
            </div>
            <div *ngFor="let cat of categorias | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row">
                <div class="mat-cell">{{cat.id_categoria}}</div>
                <div class="mat-cell" style="text-align: center;">{{cat.nombre_categoria}}</div>
                <div class="mat-cell" style="text-align: center;">
                    <mat-icon class="text-muted" >{{ (cat.activo == 'Y') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>                    
                </div>
                
                <div class="mat-cell" style="text-align: center;">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Editar" (click)="openCategoryDialog('edit',cat)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" matTooltip="Eliminar" class="mx-1" (click)="openCategoryDialog('delete',cat)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" previousLabel="Anterior" nextLabel="Siguiente" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>

