<h1 mat-dialog-title>Categoría</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <div fxLayout="row wrap">
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'CATEGORIES.NAME' | translate}}</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="form.controls.name.errors?.required">{{'REQUIRED' | translate}}</mat-error> 
                </mat-form-field>
            </div> 
            <!-- <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'CATEGORIES.PARENTCATEGORY' | translate}}</mat-label>
                    <mat-select formControlName="parentId">
                        <mat-option *ngFor="let cat of data.categories" [value]="cat.id">
                            <span>{{cat.name}}</span>
                        </mat-option>
                    </mat-select> 
                </mat-form-field>
            </div>  -->
            <div fxFlex="100" class="py-1">    
                <mat-checkbox formControlName="active" color="primary">{{'CATEGORIES.ACTIVE' | translate}}</mat-checkbox>
            </div> 
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>{{'BTN.CANCEL' | translate}}</button>
            <button mat-raised-button color="primary" type="submit">{{'BTN.SAVE' | translate}}</button>
        </div> 
    </div>
    <div mat-dialog-actions>
        <div  fxLayout="row" fxLayoutAlign="center center" class="w-100">
            <h3 *ngIf="existe == true" style="color: red;">Ya existe la categoria</h3>
        </div>
    </div>
</form>